.banner-section{
    @extend %size-class;
    @include d-flex(flex,space-between,center);
    .left-block{
        max-width: 642px;
        width: 100%;
        margin-top: 200px;
        .childe-box-01{
            max-width: 200px;
            width: 100%;
            height: 65px;
            font-size: 22px;
            font-family: 'Poppins-medium';
            color: $color-02;
            background-color: $color-01;
            text-transform: capitalize;
            transition: all 0.2s ease-in 0.1s;
            cursor: pointer;
            &:hover{
                background-color: grey;
                color: black;
            }
            .arr{
                font-size: 20px;
                color: $color-02;
                margin-left: 10px;
            }
            
        }
        .mr-h3{
            font-size: 50px;
            font-family: 'Poppins-extrabold';
            color: $color-02;
            cursor: default;
            margin: 20px 0 ;
        }
        .prof-p{
            font-family: 'Poppins-medium';
            font-size: 22px;
            color: $color-02;
        }
        .left-firschild{
            max-width: 520px;
            width: 100%;
            margin-top: 67px;
            @include d-flex(flex,space-between,center);
            .left-btn{
                max-width: 250px;
                width: 100%;
                height: 80px;
                background-color: $color-01;
                border-radius: 10px;
                color: $color-02;
                font-family: 'Poppins-medium';
                font-size: 22px;
                cursor: pointer;
                transition: all 0.1s linear 0.2s;
                
                &:hover{
                    background-color: grey;
                    color: black;
                  
                }
            }
            .left-01btn{
                max-width: 250px;
                width: 100%;
                height: 80px;
                background: transparent;
                border-radius: 10px;
                color: $color-02;
                font-family: 'Poppins-medium';
                font-size: 22px;
                cursor: pointer;
                border: 2px solid $color-02;
                transition: all 0.1s linear 0.2s;
                &:hover{
                    background-color: $color-01;
                    border: transparent;
                   
                }
            }
        }
    }
    .right-block{
        max-width: 650px;
        width: 100%;
        margin-top: 110px;
        border: 3px solid  $color-02;
        border-radius: 15px;
        .right-img{
            
            width: 100%;
            filter: blur(0.5px);
            transition: all 0.1s linear 0.2s;
            &:hover{
                filter: blur(0px);
                background: linear-gradient(red, yellow, green);
              
            }
        }
    }
    
}
.btn-wrapper{
    @extend %size-class;
    @include d-flex(flex,center,center);
    margin-top:100px;
    .btn-child{
        @include d-flex(flex,center,center);
        max-width: 60px;
        width: 100%;
        height: 106px;
        border-radius: 60px;
        border: 2px solid $color-02;
        background: transparent;
        transition: all 0.1s linear 0.2s;
        cursor: pointer;
        &:hover{
            background: $color-01;
        }
        .fa-arrow-down{
            font-size: 20px;
            color: $color-02;
            
        }
    }
}