@media(max-width:1300px){
    .section-02,
    .sec-02{
       padding: 0 20px;
    }
}
@media(max-width:1270px){
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 380px;
                width: 100%;
                .arrow-02{
                    padding-left: 70px;
                }
            }
            .second-btn{
                max-width: 380px;
                width: 100%;
                .arrow-03{
                    padding-left: 135px;
                }
            }
            .therd-btn{
                max-width: 380px;
                font-size: 18px;
                .coder{
                    font-size: 55px;
                    margin: 0 15px;
                }
                .arrow-04{
                    margin-left: 30px;
                }
            }
        }
        .wrapper{
            .firs-btn{
                max-width: 380px;
                .arrow-05{
                    padding-left: 150px;
                }
            }
            .second-btn{
                max-width: 380px;
                .arrow-06{
                    padding-left: 150px;
                }
            }
            .therd-btn{
                max-width: 380px;
                font-size: 19px;
                .arrow-07{
                    padding-left: 40px;
                }
            }
        }
        
    }
}
@media(max-width:1248px){
    .section-02{
        .sec-02-title{
            .sec-02-p{
                font-size: 16px;
            }
        }
    }
}
@media(max-width:1220px){
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 360px;
                .arrow-02{
                    padding-right: 0px;
                    padding-left: 60px;
                }
            }
            .second-btn{
                max-width: 360px;
                .arrow-03{
                    padding-left: 125px;
                }
            }
            .therd-btn{
                max-width: 360px;
            }
        }
        .wrapper{
            .firs-btn{
                max-width: 360px;
                .arrow-05{
                    padding-left: 135px;
                }
            }
            .second-btn{
                max-width: 360px;
                .coder{
                    font-size: 55px;
                }
                .arrow-06{
                    padding-left: 140px;
                }
            }
            .therd-btn{
                max-width: 360px;
                .arrow-07{
                    padding-left: 34px;
                }
            }
        }
    }
}
@media(max-width:1180px){
    .section-02{
        .sec-02-title{
            .sec-02-p,
            .sec-02-p1{
                font-size: 15px;
            }
        }
    }
}
@media(max-width:1160px){
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 350px;
                .arrow-02{
                    padding-left: 50px;
                }
            }
            .second-btn{
                max-width: 350px;
                .arrow-03{
                    padding-left: 115px;
                }
            }
            .therd-btn{
                max-width: 350px;
                font-size: 17px;
            }
        }
        .wrapper{
            .firs-btn{
                max-width: 350px;
                .arrow-05{
                    padding-left: 120px;
                }
            }
            .second-btn{
                max-width: 350px;
                .arrow-06{
                    padding-left: 130px;
                }
            }
            .therd-btn{
                max-width: 350px;
                font-size: 18px;
            }
        }
    }
}
@media(max-width:1125px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 35px;
            }
            .sec-02-p{
                max-width: 1100px;
                font-size: 14px;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 340px;
                .arrow-02{
                    padding-left: 40px;
                }
            }
            .second-btn{
                max-width: 340px;
                .arrow-03{
                    padding-left: 110px;
                }
            }
            .therd-btn{
                max-width: 340px;
                font-size: 16px;
            }
        }
        .wrapper{
            .firs-btn{
                max-width: 340px;
                .arrow-05{
                    padding-left: 115px;
                }
            }
            .second-btn{
                max-width: 340px;
                .arrow-06{
                    padding-left: 125px;
                }
            }
            .therd-btn{
                max-width: 340px;
                font-size: 17px;
            }
        }
    }
}
@media(max-width:1095px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 35px;
            }
            .sec-02-p{
                max-width: 1100px;
                font-size: 14px;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 320px;
                font-size: 22px;
                .arrow-02{
                    padding-left: 50px;
                }
                .fa-wordpress-simple{
                    font-size: 50px;
                }
            }
            .second-btn{
                max-width: 320px;
                .arrow-03{
                    padding-left: 90px;
                }
                .fa-html5{
                    font-size: 60px;
                }
            }
            .therd-btn{
                max-width: 320px;
                font-size: 16px;
                .arrow-04{
                    font-size: 35px;
                }
                .coder{
                    font-size: 45px;
                }
            }
           
        }
        .wrapper{
            .firs-btn{
                max-width: 320px;
                .fa-css3-alt{
                    font-size: 60px;
                }
                .arrow-05{
                    padding-left: 110px;
                }
            }
            .second-btn{
                max-width: 320px;
                .arrow-06{
                    padding-left: 95px;
                }
            }
            .therd-btn{
                max-width: 320px;
                font-size: 16px;
                .arrow-07{
                    font-size: 35px;
                }
                .fa-times-circle{
                    font-size: 50px;
                }
            }
        }
    }
}
@media(max-width:1045px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 30px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1000px;
                font-size: 13px;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 300px;
                font-size: 18px;
                height: 120px;
                .fa-wordpress-simple{
                    font-size: 40px;
                }
                .arrow-02{
                    font-size: 33px;
                    padding-left: 60px;
                }
            }
            .second-btn{
                max-width: 300px;
                font-size: 20px;
                height: 120px;
                .fa-html5{
                    font-size: 50px;
                }
                .arrow-03{
                    font-size: 35px;
                    padding-left: 100px;
                }
            }
            .therd-btn{
                max-width: 300px;
                height: 120px;
                font-size: 15px;
                .coder{
                    font-size: 40px;
                }
                .arrow-04{
                    font-size: 30px;
                }
            }
            
        }
        .wrapper{
            .firs-btn{
                max-width: 300px;
                height: 120px;
                font-size: 18px;
                .fa-css3-alt{
                    font-size: 50px;
                }
                .arrow-05{
                    font-size: 33px;
                    padding-left: 115px;
                }
            }
            .second-btn{
                max-width: 300px;
                height: 120px;
                font-size: 20px;
                .coder{
                    font-size: 45px;
                    margin: 0 30px;
                }
                .arrow-06{
                    font-size: 35px;
                    padding-left: 90px;
                }
            }
            .therd-btn{
                max-width: 300px;
                height: 120px;
                .fa-times-circle{
                    font-size: 50px;
                    margin: 0 20px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 290px;
                font-size: 22px;
            }
        }
        .box-wrapper{
            .first-box{
                max-width: 220px;
                height: 210px;
                .firs-p{
                    font-size: 35px;
                }
                .first-p-01{
                    font-size: 25px;
                }
            }
            .sec-box{
                max-width: 220px;
                height: 210px;
                .sec-p{
                    font-size: 35px;
                }
                .sec-p2{
                    font-size: 28px;
                }
            }
            .therd-box{
                max-width: 220px;
                height: 210px;
                .therd-p{
                    font-size: 35px;
                }
                .therd-p1{
                    font-size: 27px;
                }
            }
            .forth-box{
                max-width: 220px;
                height: 210px;
                .forth-p{
                    font-size: 35px;
                }
                .forth-p1{
                    font-size: 22px;
                }
            }
        }
    }
}
@media(max-width:970px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 25px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 12px;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 270px;
                font-size: 17px;
                height: 120px;
                .fa-wordpress-simple{
                    font-size: 40px;
                }
                .arrow-02{
                    font-size: 30px;
                    padding-left: 50px;
                }
            }
            .second-btn{
                max-width: 270px;
                font-size: 20px;
                height: 120px;
                .fa-html5{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-03{
                    font-size: 30px;
                    padding-left: 100px;
                }
            }
            .therd-btn{
                max-width: 270px;
                height: 120px;
                font-size: 12px;
                .coder{
                    font-size: 40px;
                    margin: 0 15px;
                }
                .arrow-04{
                    font-size: 30px;
                    
                }
            }
            
        }
        .wrapper{
            .firs-btn{
                max-width: 270px;
                height: 120px;
                font-size: 18px;
                .fa-css3-alt{
                    font-size: 45px;
                }
                .arrow-05{
                    font-size: 30px;
                    padding-left: 95px;
                }
            }
            .second-btn{
                max-width: 270px;
                height: 120px;
                font-size: 20px;
                .coder{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 30px;
                    padding-left: 90px;
                }
            }
            .therd-btn{
                max-width: 270px;
                height: 120px;
                font-size: 14px;
                .fa-times-circle{
                    font-size: 44px;
                    margin: 0 15px;
                }
                .arrow-07{
                    font-size: 30px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 270px;
                font-size: 22px;
            }
        }
        .box-wrapper{
            .first-box{
                max-width: 200px;
                height: 190px;
                .firs-p{
                    font-size: 30px;
                }
                .first-p-01{
                    font-size: 22px;
                }
            }
            .sec-box{
                max-width: 200px;
                height: 190px;
                .sec-p{
                    font-size: 30px;
                }
                .sec-p2{
                    font-size: 25px;
                }
            }
            .therd-box{
                max-width: 200px;
                height: 190px;
                .therd-p{
                    font-size: 30px;
                }
                .therd-p1{
                    font-size: 25px;
                }
            }
            .forth-box{
                max-width: 200px;
                height: 190px;
                .forth-p{
                   
                    font-size: 30px;
                }
                .forth-p1{
                    font-size: 20px;
                }
            }
        }
    }
}
@media(max-width:900px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 25px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 11px;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 260px;
                font-size: 15px;
                height: 110px;
                .fa-wordpress-simple{
                    font-size: 40px;
                }
                .arrow-02{
                    font-size: 25px;
                    padding-left: 60px;
                }
            }
            .second-btn{
                max-width: 260px;
                font-size: 18px;
                height: 110px;
                .fa-html5{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-03{
                    font-size: 27px;
                    padding-left: 100px;
                }
            }
            .therd-btn{
                max-width: 260px;
                height: 110px;
                font-size: 11px;
                .coder{
                    font-size: 35px;
                    margin: 0 15px;
                }
                .arrow-04{
                    font-size: 30px;
                    
                }
            }
            
        }
        .wrapper{
            .firs-btn{
                max-width: 260px;
                height: 110px;
                font-size: 17px;
                .fa-css3-alt{
                    font-size: 45px;
                }
                .arrow-05{
                    font-size: 27px;
                    padding-left: 90px;
                }
            }
            .second-btn{
                max-width: 260px;
                height: 110px;
                font-size: 19px;
                .coder{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 27px;
                    padding-left: 87px;
                }
            }
            .therd-btn{
                max-width: 260px;
                height: 110px;
                font-size: 14px;
                .fa-times-circle{
                    font-size: 44px;
                    margin: 0 15px;
                }
                .arrow-07{
                    font-size: 30px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 260px;
                font-size: 22px;
            }
        }
        .box-wrapper{
            .first-box{
                max-width: 190px;
                height: 180px;
                .firs-p{
                    font-size: 25px;
                }
                .first-p-01{
                    font-size: 22px;
                }
            }
            .sec-box{
                max-width: 190px;
                height: 180px;
                .sec-p{
                    font-size: 25px;
                }
                .sec-p2{
                    font-size: 22px;
                }
            }
            .therd-box{
                max-width: 190px;
                height: 180px;
                .therd-p{
                    font-size: 27px;
                }
                .therd-p1{
                    font-size: 22px;
                }
            }
            .forth-box{
                max-width: 190px;
                height: 180px;
                .forth-p{
                   
                    font-size: 30px;
                }
                .forth-p1{
                    font-size: 18px;
                }
            }
        }
    }
}
@media(max-width:850px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 25px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 11px;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 250px;
                font-size: 15px;
                height: 110px;
                .fa-wordpress-simple{
                    font-size: 40px;
                }
                .arrow-02{
                    font-size: 25px;
                    padding-left: 50px;
                }
            }
            .second-btn{
                max-width: 250px;
                font-size: 18px;
                height: 110px;
                .fa-html5{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-03{
                    font-size: 27px;
                    padding-left: 90px;
                }
            }
            .therd-btn{
                max-width: 250px;
                height: 110px;
                font-size: 12px;
                .coder{
                    font-size: 35px;
                    margin: 0 15px;
                }
                .arrow-04{
                    font-size: 30px;
                    padding-left: 20px;
                    
                }
            }
            
        }
        .wrapper{
            .firs-btn{
                max-width: 250px;
                height: 110px;
                font-size: 17px;
                .fa-css3-alt{
                    font-size: 45px;
                }
                .arrow-05{
                    font-size: 27px;
                    padding-left: 80px;
                }
            }
            .second-btn{
                max-width: 250px;
                height: 110px;
                font-size: 19px;
                .coder{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 27px;
                    padding-left: 80px;
                }
            }
            .therd-btn{
                max-width: 250px;
                height: 110px;
                font-size: 12px;
                .fa-times-circle{
                    font-size: 44px;
                    margin: 0 15px;
                }
                .arrow-07{
                    font-size: 30px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 250px;
                font-size: 20px;
            }
        }
        .box-wrapper{
            .first-box{
                max-width: 180px;
                height: 180px;
                .firs-p{
                    font-size: 25px;
                }
                .first-p-01{
                    font-size: 22px;
                }
            }
            .sec-box{
                max-width: 180px;
                height: 180px;
                .sec-p{
                    font-size: 25px;
                }
                .sec-p2{
                    font-size: 22px;
                }
            }
            .therd-box{
                max-width: 180px;
                height: 180px;
                .therd-p{
                    font-size: 27px;
                }
                .therd-p1{
                    font-size: 22px;
                }
            }
            .forth-box{
                max-width: 180px;
                height: 180px;
                .forth-p{
                   
                    font-size: 30px;
                }
                .forth-p1{
                    font-size: 18px;
                }
            }
        }
    }
}
@media(max-width:830px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 22px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 240px;
                font-size: 14px;
                height: 100px;
                .fa-wordpress-simple{
                    font-size: 35px;
                }
                .arrow-02{
                    font-size: 25px;
                    padding-left: 50px;
                }
            }
            .second-btn{
                max-width: 240px;
                font-size: 18px;
                height: 100px;
                .fa-html5{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-03{
                    font-size: 27px;
                    padding-left: 80px;
                }
            }
            .therd-btn{
                max-width: 240px;
                height: 100px;
                font-size: 15px;
                text-align: center;
                .coder{
                    font-size: 35px;
                    margin: 0 15px;
                }
                .arrow-04{
                    font-size: 30px;
                    margin-left: 0px;
                    
                }
            }
            
        }
        .wrapper{
            .firs-btn{
                max-width: 240px;
                height: 100px;
                font-size: 17px;
                .fa-css3-alt{
                    font-size: 45px;
                }
                .arrow-05{
                    font-size: 27px;
                    padding-left: 70px;
                }
            }
            .second-btn{
                max-width: 240px;
                height: 100px;
                font-size: 19px;
                .coder{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 27px;
                    padding-left: 70px;
                }
            }
            .therd-btn{
                max-width: 240px;
                height: 100px;
                font-size: 14px;
                text-align: center;
                .fa-times-circle{
                    font-size: 44px;
                    margin: 0 15px;
                }
                .arrow-07{
                    font-size: 30px;
                    margin-right: 5px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 240px;
                font-size: 20px;
            }
        }
        .box-wrapper{
            .first-box{
                max-width: 160px;
                height: 170px;
                .firs-p{
                    font-size: 25px;
                }
                .first-p-01{
                    font-size: 22px;
                }
            }
            .sec-box{
                max-width: 160px;
                height: 170px;
                .sec-p{
                    font-size: 25px;
                }
                .sec-p2{
                    font-size: 22px;
                }
            }
            .therd-box{
                max-width: 160px;
                height: 170px;
                .therd-p{
                    font-size: 27px;
                }
                .therd-p1{
                    font-size: 22px;
                }
            }
            .forth-box{
                max-width: 160px;
                height: 170px;
                .forth-p{
                   
                    font-size: 30px;
                }
                .forth-p1{
                    font-size: 15px;
                }
            }
        }
    }
}
@media(max-width:790px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 22px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 220px;
                font-size: 13px;
                height: 90px;
                .fa-wordpress-simple{
                    font-size: 30px;
                    margin: 0 10px;
                }
                .arrow-02{
                    font-size: 22px;
                    padding-left: 60px;
                }
            }
            .second-btn{
                max-width: 220px;
                font-size: 15px;
                height: 90px;
                .fa-html5{
                    font-size: 35px;
                    margin: 0 20px;
                }
                .arrow-03{
                    font-size: 27px;
                    padding-left: 70px;
                }
            }
            .therd-btn{
                max-width: 220px;
                height: 90px;
                font-size: 13px;
                text-align: center;
                .coder{
                    font-size: 30px;
                    margin: 0 15px;
                }
                .arrow-04{
                    font-size: 25px;
                    margin-right: 30px;
                    
                }
            }
            
        }
        .wrapper{
            .firs-btn{
                max-width: 220px;
                height: 90px;
                font-size: 15px;
                .fa-css3-alt{
                    font-size: 45px;
                    margin: 0 10px;
                }
                .arrow-05{
                    font-size: 23px;
                    padding-left: 95px;
                }
            }
            .second-btn{
                max-width: 220px;
                height: 90px;
                font-size: 17px;
                .coder{
                    font-size: 35px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 27px;
                    padding-left: 55px;
                }
            }
            .therd-btn{
                max-width: 220px;
                height: 90px;
                font-size: 13px;
                text-align: center;
                .fa-times-circle{
                    font-size: 44px;
                    margin: 0 15px;
                }
                .arrow-07{
                    font-size: 25px;
                    margin-right: 5px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 220px;
                font-size: 20px;
            }
        }
        .box-wrapper{
            .first-box{
                max-width: 160px;
                height: 170px;
                .firs-p{
                    font-size: 25px;
                }
                .first-p-01{
                    font-size: 22px;
                }
            }
            .sec-box{
                max-width: 160px;
                height: 170px;
                .sec-p{
                    font-size: 25px;
                }
                .sec-p2{
                    font-size: 22px;
                }
            }
            .therd-box{
                max-width: 160px;
                height: 170px;
                .therd-p{
                    font-size: 27px;
                }
                .therd-p1{
                    font-size: 22px;
                }
            }
            .forth-box{
                max-width: 160px;
                height: 170px;
                .forth-p{
                   
                    font-size: 30px;
                }
                .forth-p1{
                    font-size: 15px;
                }
            }
        }
    }
}
@media(max-width:730px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 22px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 200px;
                font-size: 13px;
                height: 90px;
                .fa-wordpress-simple{
                    font-size: 30px;
                    margin: 0 10px;
                }
                .arrow-02{
                    font-size: 22px;
                    padding-left: 40px;
                }
            }
            .second-btn{
                max-width: 200px;
                font-size: 15px;
                height: 90px;
                .fa-html5{
                    font-size: 35px;
                    margin: 0 20px;
                }
                .arrow-03{
                    font-size: 27px;
                    padding-left: 50px;
                }
            }
            .therd-btn{
                max-width: 200px;
                height: 90px;
                font-size: 11px;
                text-align: center;
                .coder{
                    font-size: 30px;
                    margin: 0 10px;
                }
                .arrow-04{
                    font-size: 25px;
                    margin-right: 30px;
                    
                }
            }
            
        }
        .wrapper{
            .firs-btn{
                max-width: 200px;
                height: 90px;
                font-size: 15px;
                .fa-css3-alt{
                    font-size: 40px;
                    margin: 0 15px;
                }
                .arrow-05{
                    font-size: 23px;
                    padding-left: 75px;
                }
            }
            .second-btn{
                max-width: 200px;
                height: 90px;
                font-size: 17px;
                .coder{
                    font-size: 35px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 27px;
                    padding-left: 40px;
                }
            }
            .therd-btn{
                max-width: 200px;
                height: 90px;
                font-size: 12px;
                text-align: center;
                .fa-times-circle{
                    font-size: 40px;
                    margin: 0 15px;
                }
                .arrow-07{
                    font-size: 25px;
                    margin-right: 5px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 200px;
                font-size: 20px;
            }
        }
        .box-wrapper{
            .first-box{
                max-width: 150px;
                height: 160px;
                .firs-p{
                    font-size: 20px;
                }
                .first-p-01{
                    font-size: 20px;
                }
            }
            .sec-box{
                max-width: 150px;
                height: 160px;
                .sec-p{
                    font-size: 22px;
                }
                .sec-p2{
                    font-size: 20px;
                }
            }
            .therd-box{
                max-width: 150px;
                height: 160px;
                .therd-p{
                    font-size: 25px;
                }
                .therd-p1{
                    font-size: 20px;
                }
            }
            .forth-box{
                max-width: 150px;
                height: 160px;
                .forth-p{
                   
                    font-size: 30px;
                }
                .forth-p1{
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}
@media(max-width:670px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 22px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            .firs-btn{
                max-width: 300px;
                font-size: 19px;
                height: 120px;
                margin-bottom: 20px;
                .fa-wordpress-simple{
                    font-size: 60px;
                    margin: 0 20px;
                }
                .arrow-02{
                    font-size: 30px;
                    padding-left: 40px;
                }
            }
            .second-btn{
                max-width: 300px;
                font-size: 20px;
                height: 120px;
                margin-bottom: 20px;
                .fa-html5{
                    font-size: 60px;
                    margin: 0 30px;
                }
                .arrow-03{
                    font-size: 30px;
                    padding-left: 90px;
                }
            }
            .therd-btn{
                max-width: 300px;
                height: 120px;
                font-size: 15px;
                text-align: center;
                .coder{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-04{
                    font-size: 27px;
                    margin-left: 30px;
                    
                }
            }
            
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            .firs-btn{
                max-width: 300px;
                height: 120px;
                font-size: 18px;
                margin-bottom: 20px;
                .fa-css3-alt{
                    font-size: 50px;
                    margin: 0 20px;
                }
                .arrow-05{
                    font-size: 27px;
                    padding-left: 140px;
                }
            }
            .second-btn{
                max-width: 300px;
                height: 120px;
                font-size: 22px;
                margin-bottom: 20px;
                .coder{
                    font-size: 45px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 27px;
                    padding-left: 110px;
                }
            }
            .therd-btn{
                max-width: 300px;
                height: 120px;
                font-size: 16px;
                text-align: center;
                .fa-times-circle{
                    font-size: 50px;
                    margin: 0 20px;
                }
                .arrow-07{
                    font-size: 25px;
                    margin-right: 10px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 300px;
                font-size: 22px;
                height: 100px;
            }
        }
        .box-wrapper{
            display: flex;
            flex-wrap: wrap;
            .first-box{
                max-width: 230px;
                height: 190px;
                margin-bottom: 40px;
                .firs-p{
                    font-size: 35px;
                }
                .first-p-01{
                    font-size: 23px;
                }
            }
            .sec-box{
                max-width: 230px;
                height: 190px;
                .sec-p{
                    font-size: 32px;
                }
                .sec-p2{
                    font-size: 22px;
                }
            }
            .therd-box{
                max-width: 230px;
                height: 190px;
                .therd-p{
                    font-size: 35px;
                }
                .therd-p1{
                    font-size: 22px;
                }
            }
            .forth-box{
                max-width: 230px;
                height: 190px;
                .forth-p{
                    font-size: 35px;
                }
                .forth-p1{
                    font-size: 19px;
                }
            }
        }
    }
}
@media(max-width:530px){
    .sec-02{
        .box-wrapper{
            .first-box{
                max-width: 200px;
            }
            .sec-box{
                max-width: 200px;
            }
            .therd-box{
                max-width: 200px;
            }
            .forth-box{
                max-width: 200px;
            }
        }
    }
}
@media(max-width:470px){
    .sec-02{
        .box-wrapper{
            .first-box{
                max-width: 180px;
            }
            .sec-box{
                max-width: 180px;
            }
            .therd-box{
                max-width: 180px;
            }
            .forth-box{
                max-width: 180px;
                .forth-p1{
                    font-size: 17px;
                }
            }
        }
    }
}
@media(max-width:430px){
    .sec-02{
        .box-wrapper{
            .first-box{
                max-width: 170px;
            }
            .sec-box{
                max-width: 170px;
            }
            .therd-box{
                max-width: 170px;
            }
            .forth-box{
                max-width: 170px;
                .forth-p1{
                    font-size: 17px;
                }
            }
        }
    }
}
@media(max-width:410px){
    .sec-02{
        .box-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            .first-box{
                max-width: 230px;
            }
            .sec-box{
                max-width: 230px;
                margin-bottom: 30px;
            }
            .therd-box{
                max-width: 230px;
                margin-bottom: 30px;
            }
            .forth-box{
                max-width: 230px;
                margin-bottom: 30px;
                .forth-p1{
                    font-size: 17px;
                }
            }
        }
    }
}
@media(max-width:370px){
    .section-02{
        .sec-02-title{
            .sec-title-01{
                font-size: 22px;
            }
            .sec-02-p,
            .sec-02-p1{
                max-width: 1202px;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
        }
    }
    .sec-02{
        .div-wrapper{
            .firs-btn{
                max-width: 260px;
                font-size: 17px;
                height: 110px;
                margin-bottom: 20px;
                .fa-wordpress-simple{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-02{
                    font-size: 25px;
                    padding-left: 40px;
                }
            }
            .second-btn{
                max-width: 260px;
                font-size: 20px;
                height: 110px;
                margin-bottom: 20px;
                .fa-html5{
                    font-size: 50px;
                    margin: 0 20px;
                }
                .arrow-03{
                    font-size: 30px;
                    padding-left: 90px;
                }
            }
            .therd-btn{
                max-width: 260px;
                height: 110px;
                font-size: 13px;
                text-align: center;
                .coder{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-04{
                    font-size: 27px;
                    margin-left:30px;
                    padding: 0;
                    
                }
            }
            
        }
        .wrapper{
            
            .firs-btn{
                max-width: 260px;
                height: 110px;
                font-size: 17px;
                margin-bottom: 20px;
                .fa-css3-alt{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-05{
                    font-size: 27px;
                    padding-left: 110px;
                }
            }
            .second-btn{
                max-width: 260px;
                height: 120px;
                font-size: 22px;
                margin-bottom: 20px;
                .coder{
                    font-size: 40px;
                    margin: 0 20px;
                }
                .arrow-06{
                    font-size: 27px;
                    padding-left: 70px;
                }
            }
            .therd-btn{
                max-width: 260px;
                height: 110px;
                font-size: 14px;
                text-align: center;
                .fa-times-circle{
                    font-size: 50px;
                    margin: 0 20px;
                }
                .arrow-07{
                    font-size: 25px;
                    margin-right: 15px;
                }
            }
        }
        .btn-pranet{
            .btn-bottom{
                max-width: 260px;
                font-size: 20px;
                height: 100px;
            }
        }
        .box-wrapper{
            display: flex;
            flex-wrap: wrap;
            .first-box{
                max-width: 230px;
                height: 190px;
                margin-bottom: 40px;
                .firs-p{
                    font-size: 35px;
                }
                .first-p-01{
                    font-size: 23px;
                }
            }
            .sec-box{
                max-width: 230px;
                height: 190px;
                .sec-p{
                    font-size: 32px;
                }
                .sec-p2{
                    font-size: 22px;
                }
            }
            .therd-box{
                max-width: 230px;
                height: 190px;
                .therd-p{
                    font-size: 35px;
                }
                .therd-p1{
                    font-size: 22px;
                }
            }
            .forth-box{
                max-width: 230px;
                height: 190px;
                .forth-p{
                    font-size: 35px;
                }
                .forth-p1{
                    font-size: 19px;
                }
            }
        }
    }
}