@media(max-width:1300px){
    .section-03,.sec-03-wrapper,.section-content{
        padding: 0 25px;
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 380px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 380px;
        }
        .sec-03-bg-img{
            max-width: 380px;
            height: 425px;
        }
    }
}
@media(max-width:1230px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 370px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 370px;
        }
        .sec-03-bg-img{
            max-width: 370px;
            height: 415px;
        }
    }
}
@media(max-width:1200px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 360px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 360px;
        }
        .sec-03-bg-img{
            max-width: 360px;
            height: 395px;
        }
    }
}
@media(max-width:1165px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 350px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 350px;
        }
        .sec-03-bg-img{
            max-width: 350px;
            height: 390px;
        }
    }
}
@media(max-width:1140px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 340px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 340px;
        }
        .sec-03-bg-img{
            max-width: 340px;
            height: 380px;
        }
    }
}
@media(max-width:1110px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 330px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 330px;
        }
        .sec-03-bg-img{
            max-width: 330px;
            height: 360px;
        }
    }
}
@media(max-width:1080px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 320px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 320px;
        }
        .sec-03-bg-img{
            max-width: 320px;
            height: 355px;
            .bg-p,.bg-p-01{
                font-size: 14px;
            }
            .bg-btn{
                margin-top: 40px;
            }
        }
    }
}
@media(max-width:1050px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 310px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 310px;
        }
        .sec-03-bg-img{
            max-width: 310px;
            height: 340px;
            .bg-p,.bg-p-01{
                font-size: 14px;
            }
            .bg-btn{
                margin-top: 40px;
            }
        }
    }
}
@media(max-width:1010px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 290px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 290px;
        }
        .sec-03-bg-img{
            max-width: 290px;
            height: 320px;
            padding: 50px;
            .bg-p,.bg-p-01{
                font-size: 12px;
            }
            .bg-btn{
                margin-top: 20px;
            }
        }
    }
}
@media(max-width:955px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 280px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 280px;
        }
        .sec-03-bg-img{
            max-width: 280px;
            height: 310px;
            padding: 50px;
            .bg-p,.bg-p-01{
                font-size: 12px;
            }
            .bg-btn{
                margin-top: 20px;
            }
        }
    }
}
@media(max-width:930px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 270px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 270px;
        }
        .sec-03-bg-img{
            max-width: 270px;
            height: 300px;
            padding: 50px;
            .bg-p,.bg-p-01{
                font-size: 11px;
            }
            .bg-btn{
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
}
@media(max-width:895px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 260px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 260px;
        }
        .sec-03-bg-img{
            max-width: 260px;
            height: 290px;
            padding: 50px;
            .bg-p,.bg-p-01{
                font-size: 11px;
            }
            .bg-btn{
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
}
@media(max-width:870px){
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 250px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 250px;
        }
        .sec-03-bg-img{
            max-width: 250px;
            height: 280px;
            padding: 50px;
            .bg-p,.bg-p-01{
                font-size: 11px;
            }
            .bg-btn{
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
}
@media(max-width:840px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 35px;
            }
            .content-p{
                font-size: 16px;
            }
        }
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 240px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 240px;
        }
        .sec-03-bg-img{
            max-width: 240px;
            height: 260px;
            padding: 40px;
            .bg-p,.bg-p-01{
                font-size: 11px;
            }
            .bg-btn{
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
}
@media(max-width:810px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 30px;
            }
            .content-p{
                font-size: 15px;
            }
        }
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 230px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 230px;
        }
        .sec-03-bg-img{
            max-width: 230px;
            height: 250px;
            padding: 30px;
            .bg-p,.bg-p-01{
                font-size: 10px;
            }
            .bg-btn{
                font-size: 13px;
                margin-top: 15px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 230px;
            font-size: 20px;
        }
    }
}
@media(max-width:780px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 27px;
            }
            .content-p{
                font-size: 13px;
            }
        }
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 220px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 220px;
        }
        .sec-03-bg-img{
            max-width: 220px;
            height: 240px;
            padding: 30px;
            .bg-p,.bg-p-01{
                font-size: 10px;
            }
            .bg-btn{
                font-size: 13px;
                margin-top: 15px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 220px;
            font-size: 20px;
            height: 70px;
        }
    }
}
@media(max-width:745px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 25px;
            }
            .content-p{
                font-size: 12px;
            }
        }
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 210px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 210px;
        }
        .sec-03-bg-img{
            max-width: 210px;
            height: 230px;
            padding: 20px;
            .bg-p,.bg-p-01{
                font-size: 10px;
            }
            .bg-btn{
                font-size: 13px;
                margin-top: 15px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 210px;
            font-size: 18px;
            height: 70px;
        }
    }
}
@media(max-width:710px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 27px;
            }
            .content-p{
                font-size: 13px;
            }
            .title-ul{
                font-size: 16px;
                .title-li{
                    margin-right: 30px;
                }
            }
        }

        
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 190px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 190px;
        }
        .sec-03-bg-img{
            max-width: 190px;
            height: 210px;
            padding: 15px;
            .bg-p,.bg-p-01{
                font-size: 9px;
            }
            .bg-btn{
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 190px;
            font-size: 20px;
            height: 60px;
        }
    }
}
@media(max-width:670px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 27px;
            }
            .content-p{
                font-size: 13px;
            }
            .title-ul{
                font-size: 16px;
                .title-li{
                    margin-right: 30px;
                }
            }
        }

        
    }
    .sec-03-wrapper{
        display: flex;
        flex-direction: column;
        .firs-content,.sec-content,.third-content{
            max-width: 400px;
            margin-bottom: 40px;
        }
    }
    .section-content{
        display: flex;
        flex-direction: column;
        .first-box,.third-box{
            max-width: 400px;
        }
        .sec-03-bg-img{
            max-width: 400px;
            height: 400px;
            padding: 70px;
             margin-top: 40px;
             margin-bottom: 40px;
            .bg-p,.bg-p-01{
                font-size: 17px;
            }
            .bg-btn{
                font-size: 18px;
                margin-top: 30px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 250px;
            font-size: 22px;
            height: 82px;
        }
    }
}
@media(max-width:530px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 27px;
            }
            .content-p{
                font-size: 14px;
            }
            .title-ul{
                font-size: 15px;
                .title-li{
                    margin-right: 30px;
                }
            }
        }

        
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 380px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 380px;
        }
        .sec-03-bg-img{
            max-width: 380px;
            height: 420px;
            padding: 70px;
            .bg-p,.bg-p-01{
                font-size: 17px;
            }
            .bg-btn{
                font-size: 18px;
                margin-top: 20px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 190px;
            font-size: 20px;
            height: 60px;
        }
    }
}
@media(max-width:480px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 25px;
            }
            .content-p{
                font-size: 12px;
            }
            .title-ul{
                font-size: 14px;
                .title-li{
                    margin-right: 20px;
                }
            }
        }

        
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 330px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 330px;
        }
        .sec-03-bg-img{
            max-width: 330px;
            height: 420px;
            padding: 70px;
            .bg-p,.bg-p-01{
                font-size: 15px;
            }
            .bg-btn{
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 200px;
            font-size: 20px;
            height: 70px;
        }
    }
}
@media(max-width:420px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 25px;
            }
            .content-p{
                font-size: 11px;
                line-height: 15px;
            }
            .title-ul{
                font-size: 13px;
                .title-li{
                    margin-right: 15px;
                }
            }
        }

        
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 310px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 310px;
        }
        .sec-03-bg-img{
            max-width: 310px;
            height: 420px;
            padding: 70px;
            .bg-p,.bg-p-01{
                font-size: 14px;
            }
            .bg-btn{
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 190px;
            font-size: 20px;
            height: 60px;
        }
    }
}
@media(max-width:380px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 22px;
            }
            .content-p{
                font-size: 10px;
                line-height: 15px;
            }
            .title-ul{
                font-size: 12px;
                .title-li{
                    margin-right: 13px;
                }
            }
        }

        
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 290px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 290px;
        }
        .sec-03-bg-img{
            max-width: 290px;
            height: 390px;
            padding: 70px;
            .bg-p,.bg-p-01{
                font-size: 14px;
            }
            .bg-btn{
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 190px;
            font-size: 20px;
            height: 60px;
        }
    }
}
@media(max-width:350px){
    .section-03{
        .content-title{
            .h3-title{
                font-size: 20px;
            }
            .content-p{
                font-size: 12px;
                line-height: 15px;
            }
            .title-ul{
                font-size: 10px;
                .title-li{
                    margin-right: 10px;
                }
            }
        }

        
    }
    .sec-03-wrapper{
        .firs-content,.sec-content,.third-content{
            max-width: 260px;
        }
    }
    .section-content{
        .first-box,.third-box{
            max-width: 260px;
        }
        .sec-03-bg-img{
            max-width: 260px;
            height: 370px;
            padding: 70px;
            .bg-p,.bg-p-01{
                font-size: 14px;
            }
            .bg-btn{
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
    .sec-03-btn{
        .sec-03btn{
            max-width: 190px;
            font-size: 20px;
            height: 60px;
        }
    }
}
