@media(max-width:1300px){
    .section-04,
    .sec-04,.section-05,.sec-05{
        padding: 0 25px;
    }
}
@media(max-width:1230px){
    .sec-05{
        .content-div{
            max-width: 370px;
            width: 100%;
            .content-par{
                max-width: 320px;
                font-size: 21px;
            }
        }
        .contetn-02{
            max-width: 370px;
            .content-par{
                font-size: 21px;
                max-width: 320px;
            }
        }
        .contetn-03{
            max-width: 370px;
            .content-par{
                font-size: 21px;
                max-width: 320px;
            }
        }
    }
}
@media(max-width:1190px){
    .sec-05{
        .content-div{
            max-width: 360px;
            width: 100%;
            .content-par{
                max-width: 310px;
                font-size: 20px;
            }
        }
        .contetn-02{
            max-width: 360px;
            .content-par{
                font-size: 20px;
                max-width: 310px;
            }
        }
        .contetn-03{
            max-width: 360px;
            .content-par{
                font-size: 20px;
                max-width: 310px;
            }
        }
    }
}
@media(max-width:1160px){
    .sec-05{
        .content-div{
            max-width: 350px;
            width: 100%;
            .content-par{
                max-width: 300px;
                font-size: 19px;
            }
        }
        .contetn-02{
            max-width: 350px;
            .content-par{
                font-size: 19px;
                max-width: 300px;
            }
        }
        .contetn-03{
            max-width: 350px;
            .content-par{
                font-size: 19px;
                max-width: 300px;
            }
        }
    }
}
@media(max-width:1130px){
    .sec-05{
        .content-div{
            max-width: 340px;
            width: 100%;
            .content-par{
                max-width: 290px;
                font-size: 18px;
            }
        }
        .contetn-02{
            max-width: 340px;
            .content-par{
                font-size: 18px;
                max-width: 290px;
            }
        }
        .contetn-03{
            max-width: 340px;
            .content-par{
                font-size: 18px;
                max-width: 290px;
            }
        }
    }
}
@media(max-width:1095px){
    .sec-05{
        .content-div{
            max-width: 330px;
            width: 100%;
            .content-par{
                max-width: 280px;
                font-size: 18px;
            }
        }
        .contetn-02{
            max-width: 330px;
            .content-par{
                font-size: 18px;
                max-width: 280px;
            }
        }
        .contetn-03{
            max-width: 330px;
            .content-par{
                font-size: 18px;
                max-width: 280px;
            }
        }
    }
 }
 @media(max-width:1070px){
    .sec-05{
        .content-div{
            max-width: 320px;
            width: 100%;
            .content-par{
                max-width: 270px;
                font-size: 17px;
            }
        }
        .contetn-02{
            max-width: 320px;
            .content-par{
                font-size: 17px;
                max-width: 270px;
            }
        }
        .contetn-03{
            max-width: 320px;
            .content-par{
                font-size: 17px;
                max-width: 270px;
            }
        }
    }
 }
 @media(max-width:1040px){
    .sec-05{
        .content-div{
            max-width: 310px;
            width: 100%;
            .content-par{
                max-width: 260px;
                font-size: 17px;
            }
        }
        .contetn-02{
            max-width: 310px;
            .content-par{
                font-size: 17px;
                max-width: 260px;
            }
        }
        .contetn-03{
            max-width: 310px;
            .content-par{
                font-size: 17px;
                max-width: 260px;
            }
        }
    }
 }
 @media(max-width:1010px){
    .section-04{
        .content-title{
             margin-bottom: 50px;
            .title-h3{
                 font-size: 37px;
             }
            .title-p{
                 font-size: 17px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 25px;
                .content-img{
                    max-width: 210px;
                    top: -140px;
                }
                .content-p{
                    font-size: 17px;
                    line-height: 34px;
                }
                .content-btn{
                    max-width: 220px;
                    .fa-arrow-right{
                        font-size: 15px;
                        margin-left: 10px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .bg-btn{
                        max-width: 230px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 37px;
                }
                .title-p{
                    font-size: 17px;
                    line-height: 30px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 300px;
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                }
               
            }
            .contetn-02{
                max-width: 300px;
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                }
            }
            .contetn-03{
                max-width: 300px;
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                }
            }
        }
 }
 @media(max-width:980px){
    .sec-05{
        .content-div{
            max-width: 290px;
            width: 100%;
            .content-par{
                max-width: 250px;
                font-size: 16px;
            }
        }
        .contetn-02{
            max-width: 290px;
            .content-par{
                font-size: 16px;
                max-width: 250px;
            }
        }
        .contetn-03{
            max-width: 290px;
            .content-par{
                font-size: 16px;
                max-width: 250px;
            }
        }
    }
 }
 @media(max-width:950px){
    .section-04{
        .content-title{
             margin-bottom: 50px;
            .title-h3{
                 font-size: 35px;
             }
            .title-p{
                 font-size: 16px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 25px;
                .content-img{
                    max-width: 200px;
                    top: -130px;
                }
                .content-p{
                    font-size: 16px;
                    line-height: 33px;
                }
                .content-btn{
                    max-width: 210px;
                    .fa-arrow-right{
                        font-size: 14px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .bg-btn{
                        max-width: 220px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 35px;
                }
                .title-p{
                    font-size: 16px;
                    line-height: 27px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 280px;
                .content-par{
                    max-width: 240px;
                    font-size: 15px;
                }
               
            }
            .contetn-02{
                max-width: 280px;
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                }
            }
            .contetn-03{
                max-width: 280px;
                .content-par{
                    max-width: 240px;
                    font-size: 15px;
                }
            }
        }
 }
 @media(max-width:920px){
    .section-04{
        .content-title{
             margin-bottom: 50px;
            .title-h3{
                 font-size: 33px;
             }
            .title-p{
                 font-size: 15px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 25px;
                .content-img{
                    max-width: 180px;
                    top: -120px;
                }
                .content-p{
                    font-size: 15px;
                    line-height: 30px;
                }
                .content-btn{
                    max-width: 190px;
                    font-size: 17px;
                    .fa-arrow-right{
                        font-size: 14px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .bg-btn{
                        max-width: 200px;
                        height: 60px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 33px;
                }
                .title-p{
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 270px;
                .content-p{
                    font-size: 17px;
                }
                .content-par{
                    max-width: 230px;
                    font-size: 14px;
                }
               
            }
            .contetn-02{
                max-width: 270px;
                .content-p{
                    font-size: 17px;
                }
                .content-par{
                    max-width: 230px;
                    font-size: 14px;
                }
            }
            .contetn-03{
                max-width: 270px;
                .content-p{
                    font-size: 17px;
                }
                .content-par{
                    max-width: 230px;
                    font-size: 14px;
                }
            }
        }
        .button-div{
            .btn-div{
                max-width: 250px;
            }
        }
 }
 @media(max-width:880px){
    .section-04{
        .content-title{
             margin-bottom: 50px;
            .title-h3{
                 font-size: 30px;
             }
            .title-p{
                 font-size: 15px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 25px;
                .content-img{
                    max-width: 170px;
                    top: -110px;
                }
                .content-p{
                    font-size: 14px;
                    line-height: 25px;
                }
                .content-btn{
                    max-width: 180px;
                    font-size: 15px;
                    .fa-arrow-right{
                        font-size: 14px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .bg-btn{
                        max-width: 190px;
                        height: 60px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 30px;
                }
                .title-p{
                    font-size: 14px;
                    line-height: 23px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 260px;
                .content-p{
                    font-size: 16px;
                    margin: 25px 0;
                    margin-left: 25px;
                }
                .content-par{
                    max-width: 220px;
                    font-size: 14px;
                    margin-left: 25px;
                }
                .content-btn{
                    font-size: 16px;
                    margin-left: 25px;
                }
               
            }
            .contetn-02{
                max-width: 260px;
                .content-p{
                    font-size: 16px;
                    margin: 25px 0;
                    margin-left: 25px;
                }
                .content-par{
                    max-width: 220px;
                    font-size: 14px;
                    margin-left: 25px;
                }
                .content-btn{
                    font-size: 16px;
                    margin-left: 25px;
                }
            }
            .contetn-03{
                max-width: 260px;
                .content-p{
                    font-size: 16px;
                    margin: 25px 0;
                    margin-left: 25px;
                }
                .content-par{
                    max-width: 220px;
                    font-size: 14px;
                    margin-left: 25px;
                }
                .content-btn{
                    font-size: 16px;
                    margin-left: 25px;
                }
            }
        }
        .button-div{
            .btn-div{
                max-width: 230px;
            }
        }
 }
 @media(max-width:860px){
    .section-04{
        .content-title{
             margin-bottom: 50px;
            .title-h3{
                 font-size: 30px;
             }
            .title-p{
                 font-size: 15px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 25px;
                .content-img{
                    max-width: 160px;
                    top: -100px;
                }
                .content-p{
                    font-size: 14px;
                    line-height: 20px;
                }
                .content-btn{
                    max-width: 180px;
                    font-size: 15px;
                    height: 60px;
                    .fa-arrow-right{
                        font-size: 14px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .bg-btn{
                        max-width: 180px;
                        height: 60px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 30px;
                }
                .title-p{
                    font-size: 14px;
                    line-height: 23px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 250px;
                .content-p{
                    font-size: 15px;
                    margin: 20px 0;
                    margin-left: 25px;
                }
                .content-par{
                    max-width: 210px;
                    font-size: 14px;
                    margin-left: 25px;
                }
                .content-btn{
                    font-size: 16px;
                    margin-left: 25px;
                }
               
            }
            .contetn-02{
                max-width: 250px;
                .content-p{
                    font-size: 15px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 210px;
                    font-size: 14px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-left: 25px;
                }
            }
            .contetn-03{
                max-width: 250px;
                .content-p{
                    font-size: 15px;
                    margin: 20px 0;
                    margin-left: 25px;
                }
                .content-par{
                    max-width: 210px;
                    font-size: 14px;
                    margin-left: 25px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-left: 2px;
                }
            }
        }
        .button-div{
            .btn-div{
                max-width: 210px;
            }
        }
 }
 @media(max-width:830px){
    .section-04{
        .content-title{
             margin-bottom: 30px;
            .title-h3{
                 font-size: 27px;
             }
            .title-p{
                 font-size: 14px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 25px;
                .content-img{
                    max-width: 150px;
                    top: -90px;
                }
                .content-p{
                    font-size: 14px;
                    line-height: 20px;
                }
                .content-btn{
                    max-width: 170px;
                    font-size: 15px;
                    height: 60px;
                    .fa-arrow-right{
                        font-size: 14px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .title-p{
                        font-size: 17px;
                    }
                    .h4-title{
                        font-size: 20px;
                    }
                    .bg-btn{
                        font-size: 17px;
                        max-width: 170px;
                        height: 60px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 30px;
                }
                .title-p{
                    font-size: 14px;
                    line-height: 23px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 240px;
                .content-p{
                    font-size: 14px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 200px;
                    font-size: 14px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-top: 20px;
                    margin-left: 20px;

                }
               
            }
            .contetn-02{
                max-width: 240px;
                .content-p{
                    font-size: 14px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 200px;
                    font-size: 14px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-left: 25px;
                    margin-top: 20px;
                }
            }
            .contetn-03{
                max-width: 240px;
                .content-p{
                    font-size: 14px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 200px;
                    font-size: 14px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-left: 20px;
                    margin-top: 20px;
                }
            }
        }
        .button-div{
            .btn-div{
                max-width: 200px;
                height: 60px;
            }
        }
 }
 @media(max-width:800px){
    .sec-05{
        .content-div{
            max-width: 220px;
            .content-p{
                font-size: 13px;
                margin: 20px 0;
                margin-left: 20px;
            }
            .content-par{
                max-width: 190px;
                font-size: 13px;
                margin-left: 20px;
            }
            .content-btn{
                font-size: 15px;
                margin-top: 20px;
                margin-left: 20px;

            }
           
        }
        .contetn-02{
            max-width: 220px;
            .content-p{
                font-size: 13px;
                margin: 20px 0;
                margin-left: 20px;
            }
            .content-par{
                max-width: 190px;
                font-size: 13px;
                margin-left: 20px;
            }
            .content-btn{
                font-size: 15px;
                margin-left: 20px;
                margin-top: 20px;
            }
        }
        .contetn-03{
            max-width: 220px;
            .content-p{
                font-size: 13px;
                margin: 20px 0;
                margin-left: 20px;
            }
            .content-par{
                max-width: 190px;
                font-size: 13px;
                margin-left: 20px;
            }
            .content-btn{
                font-size: 15px;
                margin-left: 20px;
                margin-top: 20px;
            }
        }
    }
    .button-div{
        .btn-div{
            max-width: 200px;
            height: 60px;
        }
    }
 }
 @media(max-width:740px){
    .section-04{
        .content-title{
             margin-bottom: 30px;
            .title-h3{
                 font-size: 25px;
             }
            .title-p{
                 font-size: 14px;
                 line-height: 20px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 25px;
                .content-img{
                    max-width: 140px;
                    top: -80px;
                }
                .content-p{
                    font-size: 12px;
                    line-height: 20px;
                }
                .content-btn{
                    max-width: 160px;
                    font-size: 14px;
                    height: 60px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .title-p{
                        font-size: 16px;
                    }
                    .h4-title{
                        font-size: 19px;
                    }
                    .bg-btn{
                        font-size: 16px;
                        max-width: 170px;
                        height: 60px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 30px;
                }
                .title-p{
                    font-size: 14px;
                    line-height: 23px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 200px;
                .content-p{
                    font-size: 13px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 180px;
                    font-size: 13px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-top: 20px;
                    margin-left: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }

                }
               
            }
            .contetn-02{
                max-width: 200px;
                .content-p{
                    font-size: 13px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 180px;
                    font-size: 13px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-left: 25px;
                    margin-top: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
            .contetn-03{
                max-width: 200px;
                .content-p{
                    font-size: 13px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 180px;
                    font-size: 13px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-left: 20px;
                    margin-top: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
        }
        .button-div{
            .btn-div{
                font-size: 17px;
                max-width: 180px;
                height: 60px;
            }
        }
 }
 @media(max-width:670px){
     .sec-05{
         flex-direction: column;
         .content-div{
            max-width: 370px;
            margin-bottom: 50px;
            .content-p{
                font-size: 20px;
            }
            .content-par{
                max-width: 250px;
                font-size: 17px;
            }
            .content-btn{
                font-size: 17px;
                .fa-arrow-right{
                    font-size: 15px;
                }
            }
         }
         .contetn-02{
            max-width: 370px;
            margin-bottom: 50px;
            .content-p{
                font-size: 20px;
            }
            .content-par{
                max-width: 250px;
                font-size: 17px;
            }
            .content-btn{
                font-size: 17px;
                .fa-arrow-right{
                    font-size: 15px;
                }
            }
         }
         .contetn-03{
            max-width: 370px;
            margin-bottom: 50px;
            .content-p{
                font-size: 20px;
            }
            .content-par{
                max-width: 250px;
                font-size: 17px;
            }
            .content-btn{
                font-size: 17px;
                .fa-arrow-right{
                    font-size: 15px;
                }
            }
            
         }
         
     }
     .button-div{
        .btn-div{
            max-width: 250px;
            height: 70px;
            font-size: 22px;
        }
    }

 }
 @media(max-width:510px){
    .section-04{
        .content-title{
             margin-bottom: 30px;
            .title-h3{
                 font-size: 25px;
             }
            .title-p{
                 font-size: 12px;
                 line-height: 20px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 20px;
                .content-img{
                    max-width: 130px;
                    top: -70px;
                }
                .content-p{
                    font-size: 12px;
                    line-height: 15px;
                }
                .content-btn{
                    max-width: 150px;
                    font-size: 13px;
                    height: 50px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .title-p{
                        font-size: 15px;
                    }
                    .h4-title{
                        font-size: 18px;
                    }
                    .bg-btn{
                        font-size: 16px;
                        max-width: 160px;
                        height: 50px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 30px;
                }
                .title-p{
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 330px;
                .content-p{
                    font-size: 17px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 17px;
                    margin-top: 20px;
                    margin-left: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }

                }
               
            }
            .contetn-02{
                max-width: 330px;
                .content-p{
                    font-size: 17px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 17px;
                    margin-left: 20px;
                    margin-top: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
            .contetn-03{
                max-width: 330px;
                .content-p{
                    font-size: 17px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 17px;
                    margin-left: 20px;
                    margin-top: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
        }
        .button-div{
            .btn-div{
                font-size: 17px;
                max-width: 180px;
                height: 60px;
            }
        }
 }
 @media(max-width:400px) {
    .section-04{
        .content-title{
             margin-bottom: 30px;
            .title-h3{
                 font-size: 20px;
             }
            .title-p{
                 font-size: 11px;
                 line-height: 15px;
             }
         }
     }
    .sec-04{
        .sec-04-content{
                padding: 0 20px;
                .content-img{
                    max-width: 120px;
                    top: -70px;
                }
                .content-p{
                    font-size: 10px;
                    line-height: 15px;
                }
                .content-btn{
                    max-width: 140px;
                    font-size: 13px;
                    height: 50px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 9px;
                    }
                }
            }
        }
        .bg-section{
            .bg-div{
                .div-title{
                    .title-p{
                        font-size: 14px;
                    }
                    .h4-title{
                        font-size: 16px;
                    }
                    .bg-btn{
                        font-size: 15px;
                        max-width: 150px;
                        height: 50px;
                    }
                }
            }
        }
        .section-05{
            .content-title{
                .titile-03{
                    font-size: 25px;
                }
                .title-p{
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
        .sec-05{
            .content-div{
                max-width: 300px;
                .content-p{
                    font-size: 15px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 240px;
                    font-size: 14px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-top: 20px;
                    margin-left: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }

                }
               
            }
            .contetn-02{
                max-width: 300px;
                .content-p{
                    font-size: 17px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 250px;
                    font-size: 16px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 17px;
                    margin-left: 20px;
                    margin-top: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
            .contetn-03{
                max-width: 300px;
                .content-p{
                    font-size: 15px;
                    margin: 20px 0;
                    margin-left: 20px;
                }
                .content-par{
                    max-width: 230px;
                    font-size: 14px;
                    margin-left: 20px;
                }
                .content-btn{
                    font-size: 15px;
                    margin-left: 20px;
                    margin-top: 20px;
                    .fa-arrow-right{
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
        }
        .button-div{
            .btn-div{
                font-size: 17px;
                max-width: 180px;
                height: 60px;
            }
        }
 }   
 @media(max-width:350px){
    .sec-05{
        .content-div{
            max-width: 220px;
            .content-p{
                font-size: 13px;
                margin: 20px 0;
                margin-left: 20px;
            }
            .content-par{
                max-width: 190px;
                font-size: 13px;
                margin-left: 20px;
            }
            .content-btn{
                font-size: 15px;
                margin-top: 20px;
                margin-left: 20px;

            }
           
        }
        .contetn-02{
            max-width: 220px;
            .content-p{
                font-size: 13px;
                margin: 20px 0;
                margin-left: 20px;
            }
            .content-par{
                max-width: 190px;
                font-size: 13px;
                margin-left: 20px;
            }
            .content-btn{
                font-size: 15px;
                margin-left: 20px;
                margin-top: 20px;
            }
        }
        .contetn-03{
            max-width: 220px;
            .content-p{
                font-size: 13px;
                margin: 20px 0;
                margin-left: 20px;
            }
            .content-par{
                max-width: 190px;
                font-size: 13px;
                margin-left: 20px;
            }
            .content-btn{
                font-size: 15px;
                margin-left: 20px;
                margin-top: 20px;
            }
        }
    }
    .button-div{
        .btn-div{
            max-width: 180px;
            height: 60px;
        }
    }
 }